@charset "UTF-8";
body {
  width: 500px;
  max-width: 90%;
  background: white;
  margin: 0px auto;
  padding: 0px;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  font-size: 18px;
  text-align: center;
  position: relative;
}

input, textarea, ::placeholder {
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  font-size: 16px;
}

h1 {
  padding-top: 25px;
  font-size: 36px;
  line-height: 36px;
  font-variant: small-caps;
}

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: red;
  color: white;
  height: 40px;
  border: 2px solid red;
  border-radius: 5px;
  padding: 0 15px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  max-width: 500px;
  margin-top: 5px;
  font-size: 18px;
}

.small {
  font-size: 14px;
}

.red {
  color: red;
}

.upload_form .outer_box {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.upload_form .drag_drop_box {
  border: 1px dashed #ccc;
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
}
.upload_form .drag_drop_box .ajax_success, .upload_form .drag_drop_box .ajax_partial, .upload_form .drag_drop_box .ajax_error {
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  padding: 5px;
  margin: 15px;
  border-radius: 5px;
  font-size: 14px;
  display: none;
}
.upload_form .drag_drop_box .ajax_success {
  background: palegreen;
  border: 1px solid green;
}
.upload_form .drag_drop_box .ajax_partial {
  background: palegoldenrod;
  border: 1px solid yellow;
}
.upload_form .drag_drop_box .ajax_error {
  background: lightpink;
  border: 1px solid red;
}
.upload_form.is-dragover .outer_box {
  background: #F0F0F0;
  transition: 0.15s linear;
}
.upload_form .notice {
  position: relative;
  padding-top: 15px;
}
.upload_form .notice .browse, .upload_form .notice .selected, .upload_form .notice .uploading {
  display: none;
}
.upload_form .notice .upload_image {
  width: 25%;
  margin-bottom: 15px;
}
.upload_form .notice .error {
  display: none;
}
.upload_form .notice .browse.error .error {
  font-size: 14px;
  color: red;
  display: block;
}
.upload_form .notice .clear_files {
  margin-top: 5px;
  font-size: 14px;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.upload_form .notice .clear_files span {
  text-decoration: underline;
  margin-right: 5px;
}
.upload_form.is-browse .notice .browse, .upload_form.is-selected .notice .selected, .upload_form.is-uploading .notice .uploading {
  display: block;
}
.upload_form input[type=file] {
  display: none;
}
.upload_form .response, .upload_form .uploading {
  display: none;
}
.upload_form .input_field {
  max-width: 500px;
  margin: 20px auto;
  text-align: left;
  position: relative;
}
.upload_form .input_field input[type=text], .upload_form .input_field textarea {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid grey;
  border-radius: 5px;
}
.upload_form .input_field select {
  width: 100%;
  background: white;
  color: black;
  height: 30px;
  border: 1px solid grey;
  border-radius: 5px;
  text-indent: 10px;
}
.upload_form .input_field .checkbox {
  display: flex;
  justify-content: start;
  align-items: center;
}
.upload_form .input_field .checkbox input[type=checkbox] {
  display: none;
}
.upload_form .input_field .checkbox .fake_checkbox_wrapper {
  position: relative;
  flex-basis: 25px;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
}
.upload_form .input_field .checkbox .fake_checkbox {
  height: 25px;
  width: 25px;
  border: 1px solid black;
  border-radius: 5px;
  color: red;
  display: block;
  margin-right: 10px;
}
.upload_form .input_field .checkbox input[type=checkbox]:checked + span:before {
  content: "✓";
  position: absolute;
  top: -15px;
  left: 3px;
  font-size: 36px;
  color: red;
}
.upload_form .input_field .error {
  display: none;
  position: absolute;
  top: -18px;
  left: 0;
  font-size: 14px;
  color: red;
}
.upload_form .input_field.error .error {
  display: block;
}

@media only screen and (max-width: 767px) {
  .upload_form .drag_drop_box {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  button {
    width: 100%;
  }
}
@media (pointer: none), (pointer: coarse) {
  .desktop_only {
    display: none;
  }
}

/*# sourceMappingURL=gallery.css.map */
