body {
    width: 500px;
    max-width: 90%;
    background: white;
    margin: 0px auto;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;   
    -webkit-font-smoothing: antialiased;
    line-height: 1.4;
    font-size: 18px;
    text-align: center;
    position: relative;
}

input, textarea, ::placeholder {
    font-family: 'Source Sans Pro', sans-serif;   
    -webkit-font-smoothing: antialiased;
    line-height: 1.4;
    font-size: 16px;
}

h1 {
    padding-top: 25px;
    font-size: 36px;
    line-height: 36px;
    font-variant: small-caps;
}

button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: red;
    color: white;
    height: 40px;
    border: 2px solid red;
    border-radius: 5px;
    padding: 0 15px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    max-width: 500px;
    margin-top: 5px;
    font-size: 18px;
}

.small {
    font-size: 14px;
}

.red {
    color: red;
}

.upload_form {
    .outer_box {
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
    .drag_drop_box {
        border: 1px dashed #ccc;
        height: 250px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-sizing: border-box;
        position: relative;
        .ajax_success, .ajax_partial, .ajax_error {
            position: absolute;
            top: 5px;
            left: 0;
            right: 0;
            padding: 5px;
            margin: 15px;
            border-radius: 5px;
            font-size: 14px;
            display: none;    
        }
        .ajax_success {
            background: palegreen;
            border: 1px solid green;
        }
        .ajax_partial {
            background: palegoldenrod;
            border: 1px solid yellow;
        }
        .ajax_error {
            background: lightpink;
            border: 1px solid red;
        }
    }
    &.is-dragover .outer_box {
        background: #F0F0F0;
        transition: .15s linear;
    }
    .notice {
        position: relative;
        padding-top: 15px;
        .browse, .selected, .uploading {
            display: none;
        }
        .upload_image {
            width: 25%;
            margin-bottom: 15px;
        }
        .error {
            display: none;
        }
        .browse.error .error {
            font-size: 14px;
            color: red;
            display: block;
        }
        .clear_files {
            margin-top: 5px;
            font-size: 14px;
            color: red;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            span {
                text-decoration: underline;
                margin-right: 5px;
            }
        }
    }
    &.is-browse .notice .browse,
    &.is-selected .notice .selected,
    &.is-uploading .notice .uploading {
        display: block;
    }
    input[type="file"] {
        display: none;
    }
    .response, .uploading {
        display: none;
    }

    .input_field {
        max-width: 500px;
        margin: 20px auto;
        text-align: left;
        position: relative;
        input[type=text], textarea {
            width: 100%;
            padding: 5px 10px;
            border: 1px solid grey;
            border-radius: 5px;
        }
        select {
            width: 100%;
            background: white;
            color: black;
            height: 30px;
            border: 1px solid grey;
            border-radius: 5px;
            text-indent: 10px;
        }
        .checkbox {
            display: flex;
            justify-content: start;
            align-items: center;
            input[type=checkbox] {
                display: none;
            }
            .fake_checkbox_wrapper {
                position: relative;
                flex-basis: 25px;
                flex-grow: 0;
                flex-shrink: 0;
                box-sizing: border-box;
            }
            .fake_checkbox {
                height: 25px;
                width: 25px;
                border: 1px solid black;
                border-radius: 5px;
                color: red;
                display: block;
                margin-right: 10px;
            }
            input[type=checkbox]:checked + span:before {
                content: '\2713';
                position: absolute;
                top: -15px;
                left: 3px;
                font-size: 36px;
                color: red;
            }
        }
        .error {
            display: none;
            position: absolute;
            top: -18px;
            left: 0;
            font-size: 14px;
            color: red;
        }
        &.error .error {
            display: block;
        }
    }
}

@media only screen and (max-width: 767px) {
    .upload_form {
        .drag_drop_box {
            padding-top: 25px;
            padding-bottom: 25px;
        }
    }
    button {
        width: 100%;
    }
}

@media (pointer:none), (pointer:coarse) {
    .desktop_only {
        display: none;
    }
}